.head1{
    font-size: 40px;
    font-family: SUSE;
    text-align: center;
}

.subhead{
    font-size: 15px;
    font-family: SUSE;
    text-align: center;
}

.body{
    font-size: 15px;
    font-family: SUSE;
    text-align: center;
}

.button1{
    background-color: rgba(230, 217, 217, 0.75);
    color: black;
    border: none;
    padding: 5px;
    margin: auto;
    border-radius: 10px;
}